<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.FiteTextToSpeech">

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FliteTextToSpeech">
        <activity android:name="com.example.flitetexttospeech.ui.SettingsActivity"/>
        <service android:name="com.example.flitetexttospeech.FliteTextToSpeechService">
            <intent-filter>
                <action android:name="android.intent.action.TTS_SERVICE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!--
            This is not mentioned in the docs, but I found it in Flite, and know something
            similar is needed for making an Assistant
            -->
            <meta-data
                android:name="android.speech.tts"
                android:resource="@xml/tts_engine">
            </meta-data>
        </service>
    </application>

</manifest>